@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Layout
 */

html {
	overflow-y: scroll;
	color-scheme: light;

	&.dark {
		color-scheme: dark;
	}

	#back-to-top {
		@apply pointer-events-none opacity-0;
	}

	&.scrolled #back-to-top {
		@apply pointer-events-auto opacity-100;
	}
}

html,
body {
	@apply size-full;
}

body {
	@apply font-sans antialiased;
	@apply flex flex-col;
	@apply bg-stone-100 dark:bg-stone-900;

	@apply text-sm;

	@apply prose max-w-full dark:prose-invert prose-img:mx-auto prose-img:my-auto;
	@apply prose-headings:font-semibold prose-p:font-serif;
	@apply prose-headings:text-black/85 prose-headings:dark:text-white/85;
}

header {
	@apply fixed left-0 right-0 top-0 z-50 py-5;
	@apply bg-stone-100/75 dark:bg-stone-900/25;
	@apply backdrop-blur-sm;
}

main {
	@apply flex-1 py-32;
}

footer {
	@apply py-5;
}

section {
	@apply py-20;
	margin: 0 !important;
}

article {
}

@layer utilities {
	article a {
		@apply font-sans text-current underline underline-offset-2;
		@apply decoration-black/15 dark:decoration-white/30;
		@apply transition-colors duration-300 ease-in-out;
	}

	article a:hover {
		@apply text-black dark:text-white;
		@apply decoration-black/25 dark:decoration-white/50;
	}
}

/**
 * Typography
 */

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply m-0 font-semibold;
}

h1 {
	@apply mb-7 text-3xl;
}

h2 {
	@apply mb-4 text-2xl;
}

h3 {
	@apply mb-2 text-xl;
}

h4 {
	@apply mb-1 text-lg;
}

h4,
h5,
h6 {
	@apply font-serif;
}

p {
	@apply text-sm;
}

/**
 * Animations
 */

.animate {
	@apply translate-y-3 opacity-0;
	@apply transition-all duration-700 ease-out;

	&.show {
		@apply translate-y-0 opacity-100;
	}
}
