@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Layout
 */

html {
	overflow-y: scroll;
	color-scheme: light;
	scroll-behavior: smooth;
	@apply overflow-y-scroll;

	&.dark {
		color-scheme: dark;
	}

	#back-to-top {
		@apply pointer-events-none opacity-0;
	}

	&.scrolled #back-to-top {
		@apply pointer-events-auto opacity-100;
	}
}

html,
body {
	@apply size-full;
}

body {
	@apply flex flex-col;
	@apply bg-stone-200 dark:bg-dark-7;
	@apply font-inter antialiased;
	@apply dark:prose-dark prose max-w-full dark:prose-invert;
}

header {
	@apply fixed left-0 right-0 top-0 z-50 py-5;
	@apply bg-stone-200/75 dark:bg-dark-7/25;
	@apply backdrop-blur-sm;
}

main {
	@apply flex-1 pb-6 pt-32;
}

footer {
	@apply py-5;
}

section {
	@apply m-0 py-16;
}

article {
}

@layer utilities {
	article a {
		@apply font-sans text-current underline underline-offset-2;
		@apply decoration-black/15 dark:decoration-white/30;
		@apply transition-colors duration-300 ease-in-out;
	}

	article a:hover {
		@apply text-black dark:text-white;
		@apply decoration-black/25 dark:decoration-white/50;
	}

	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	/* For Firefox */
	.scrollbar-hide {
		scrollbar-width: none;
	}
}

/**
 * Typography
 */

p {
	span.muted {
		@apply inline-block w-[14px] text-center text-stone-600/30 dark:text-stone-400/30;
	}
}

/**
 * Animations
 */
.animate {
	@apply translate-y-3 opacity-0;
	@apply transition-all duration-700 ease-out;

	&.show {
		@apply translate-y-0 opacity-100;
	}
}

::selection {
	@apply bg-stone-200 dark:bg-dark-6;
}
