---
import PageLayout from "@layouts/PageLayout.astro";

 
 const title = 'Frontend Blog - Not Found';
 ---
  
 <PageLayout title={title} description="404 not found">
   <main class="flex flex-col items-center justify-center min-h-[70vh] text-center">
      <h1 class="text-6xl font-bold mb-4">404</h1>
      <p class="text-xl mb-8">Oops! Page not found</p>
      <div class="space-y-4">
         <a href="/" class="text-blue-500 hover:text-blue-700 underline">
            Return to Homepage
         </a>
         {/* TODO: Add a section below with "You might be interested in these posts:" and render latest blog posts */}
      </div>
   </main>
 </PageLayout>
