---
import PageLayout from '../layouts/PageLayout.astro'
import Container from '../components/Container.astro'
import { HOME } from '../constants'
import Experience from '../components/Experience.astro'
import Hero from '../components/Hero.astro'
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
	<Container>
		<div class="space-y-16">
			<Hero />
			<Experience />
		</div>
	</Container>
</PageLayout>
